.side-bar {
    width: 20vw;
    height: 95vh;
    align-items: center;
    justify-content: space-between;
}

.userstamp {
    width: 100%;
    height: 25%;
    padding: 2vh;
    align-items: flex-start;
    justify-content: flex-start;
}

.side-body {
    width: 100%;
    height: 75%;
    align-items: center;
    justify-content: flex-start;
}

.admin-btn {
    width: 80%;
    height: 10%;
    margin: 2vh;
    font-size: 20px;
}

.admin-content {
    align-items: start;
    justify-content: center;
}

.interactions {
    width: 100%;
    height: 15%;
    padding: 0 2vh;
    align-items: center;
    justify-content: space-between;
}

.interaction-btn {
    width: 40%;
    height: 90%;
    font-size: 20px;
}

.interaction-btns-container {
    width: 40%;
    height: 50%;
    align-items: center;
    justify-content: space-around;
}

.records {
    width: 100%;
    height: 70%;
    padding: 3vh;
}

.table-headers {
    width: 100%;
    height: 15vh;
    padding: 0 5vh;
}

.table-headers > table > tr > td {
    font-size: 25px;
}

.table-data-container {
    width: 100%;
    height: 70vh;
    margin: 2vh 0;
    padding: 2vh 5vh;
}
