.course-btn {
    width: 90%;
    height: 20%;
    margin: 2vh;
    font-size: 30px;
}

.student-content {
    align-items: center;
    justify-content: flex-start;
}

.coursestamp {
    align-items: flex-start;
    justify-content: flex-start;
}
